{% extends "layout.html" %}

{% block title %}theOXREVIEW{% endblock %}
<!-- Page content -->
{% block main %}
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="/static/images/radcam.jpg" alt="Architecture" width="1500" height="800">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding navy w3-opacity-min"><b>theOXREVIEW</b></span></h1>
  </div>
</header>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

  <!-- Intro Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">WELCOME</h2>
    <p class="w3-opacity"><i>help us create a digital library of information for current and future students</i></p>
    <p class="w3-justify">theOXREVIEW is made by students, and has been created for the student population of Oxford. In a similar way that you'd ask your college parents,
    use this tool to find out what optional modules would be best suited for you, or to find out which lecture courses have the best/worst lecturers.... and much more! <p>
    <p class="w3-justify"> All
reviews and questions are submitted anonymously, except information about your Year of Study, Subject, and College, will be published
alongside each review you make. As with any platform where users are able to post whatever they'd like,
this needs to be moderated, and inappropriate comments will be taken down.</p>

  </div>


<!-- End Page Content -->
</div>
{% endblock %}

